@charset "utf-8";
@import "compass/reset";
/*！====以上是rest样式======*/
@import "compass/css3";
@import "compass/utilities";
@import "compass/utilities/sprites";
// icons 图标sprite图
@mixin images {background: url(../img/images-ems/images.png) no-repeat;background-size: 34rem 7.7rem;}
@mixin ico-arrow-down {background-position: 0 0;height: 2.1rem;width: 3.8rem;}
@mixin img-bg-dot-3 {background-position: -7.4rem 0;height: 5rem;width: 5rem;}
@mixin img-bg-dot-4 {background-position: -12.8rem 0;height: 5rem;width: 5rem;}
@mixin img-bg-dot-2 {background-position: -18.2rem 0;height: 5rem;width: 5rem;}
@mixin img-bg-dot {background-position: -23.6rem 0;height: 5rem;width: 5rem;}
@mixin img-bg-dot-1 {background-position: -28.9rem 0;height: 5rem;width: 5rem;}
@mixin logo-wechat {background-position: 0 -2.5rem;height: 2.2rem;width: 7rem;}
@mixin logo-group {background-position: 0 -5.4rem;height: 2.2rem;width: 28.1rem;}

// img-mains sprite图
@mixin img-mains{background:url(../img/images-ems/img-mains.png) no-repeat;background-size:62.5rem 53.4rem }
@mixin img-main-1{height:23.5rem;width:29.1rem;background-position: 0 -25rem;}
@mixin img-main-2-female{height:21.4rem;width:31.5rem;background-position: -30.5rem 0;}
@mixin img-main-3{height:23.7rem;width:22.1rem;background-position: -3.5rem 0;}
@mixin img-main-4{height:30.8rem;width:32rem;background-position: -30.5rem -22.6rem;}

//img-titles sprite图
@mixin img-titles{background:url(../img/images-ems/img-titles.png) no-repeat;background-size:50.8rem 39.7rem }
@mixin img-title-1{height:39.7rem;width:21.4rem;background-position: 0 0;}
@mixin img-title-4{height:8.2rem;width:23.9rem;background-position: -23.3rem 0;}
@mixin img-title-2{height:14.2rem;width:25.9rem;background-position: -23.1rem -8.4rem;}
@mixin img-title-3{height:16.1rem;width:28.9rem;background-position: -21.8rem -22.9rem;}

/*!==============框架自带样式开始================ */
#pageContain {
    overflow: hidden;
}
.page {
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.contain {
    display: none;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}
.current .contain,
.slide .contain {
    display: block;
}
.current {
    display: block;
    z-index: 1;
}
.slide {
    display: block;
    z-index: 2;
}
.swipe {
    display: block;
    -webkit-transition-duration: 0ms !important;
            transition-duration: 0ms !important;
    z-index: 3;
}
.page1 {
    background: #0da147;
}
.page2 {
    background: #ee9377;
}
.page3 {
    background: #d06f02;
}
.page4 {
    background: #134d9b;
}
.page5 {
    background: #0f0;
}
.page6 {
    background: #2ff;
}
#navBar {
    position: absolute;
    right: 3%;
    top: 40%;
    z-index: 3;
}
#navBar .active {
    background: #ccc;
}
#navBar li {
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    line-height: 10px;
    text-align: center;
    border-radius: 50%;
    transition: all .7s ease;
}
p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 100px;
    margin-top: -50px;
    margin-left: -100px;
    color: #fff;
    opacity: 1;
    text-align: center;
    transform-origin: 50% 50%;
    transition: all .8s ease;
}
// 框架下自带的step动画
.step1 a {
    opacity: 1;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%,50%);
    transition: all 1s ease-in-out;
}
.step2 a {
    opacity: 1;
    -webkit-transform: scale(2);
            transform: scale(2);
    transition: all .8s ease;
}
.step3 a {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
}
.step4 a {
    opacity: 1;
    -webkit-transform: rotate(360deg) translate(0,-200px) scale(.3);
            transform: rotate(360deg) translate(0,-200px) scale(.3);
}
/*! ============== 框架自带样式结束================ */

/*=================公用资源=============*/
.clearfix {
    zoom: 1;
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
}
.no-copy {@include user-select(none);}
a {
    color: #fff;
    display: block;
    height: 7.4*.5rem;
    line-height: 7.4*.5rem;
    text-align: center;
    text-decoration: none;
}
.logo-wechat {
    display: block;
    width: 13.9*.5rem;
    height: 4.5*.5rem;
    // @include box-sizing(content-box);
    @include images;
    @include logo-wechat;
}
.lp1,
.lp2,
.lp3{
    position: relative;
    top: 2.5*.5rem;
    left: 2.1*.5rem;
}
.btn {
	position: absolute;
	top: 2.3*.5rem;
    font-size: 3.0*.5rem;
    width: 44.53%;
    height: 7.4*.5rem;
    @include border-radius(1.5*.5rem);
}
.ico-arrow-down {
    bottom: 1.0*.5rem;
    display: block;
    height: 4.2*.5rem;
    left: auto;
    margin: 0 auto;
    position: relative;
    width: 7.6*.5rem;
    @include animation (showdown 1.5s linear infinite);
    @include images;
    @include ico-arrow-down;
}
.ad1,
.ad2,
.ad3 {
    position: absolute;
    left: 50%;
    // 此处不能用@include transform(translateX(-50%));会与translateY的动画冲突
    margin-left: -1.9rem;
    opacity: .2;
    bottom: 7.4%;
}
img{outline:none;}
/*!================动画样式==================== */

/*!========位置变化动画=====*/
@-webkit-keyframes translateX {
    0% {
        opacity: .5;
        @include transform(translateX(-100%));
    }
    50% {
        opacity: .8;
        @include transform(translateX(-50%));
    }
    100% {
        opacity: 1;
        @include transform(translateX(-0%));
    }
}
@-webkit-keyframes showdown {
    0% {
        opacity: .5;
        @include transform(translateY(-100%));
    }
    50% {
        opacity: .8;
        @include transform(translateY(-50%));
    }
    100% {
        opacity: 1;
        @include transform(translateY(-0%));
    }
}

/*=============文档自带样式=============*/
html {
    font-family: "Helvetica";
    font-size: 10px;
    -ms-touch-action: none;  /* 阻止windows Phone 的默认触摸事件 */
}
body {
    *cursor: default;
    background-color: #fff;
    font-family: Helvetica;
    font-size: 1.6rem;
    overflow: hidden;
    width: 100%;
}

// 抽出的公共样式
[class*="title"]{
	position: relative;
	display: block;
    left: 50%;
    @include transform(translateX(-50%)) ;
    @include img-titles;
    z-index:999;
}
[class*="img-main"]{
	display: block;
	@include img-mains;
}
.pone,
.ptwo,
.pthree,
.pfour{
	position: relative;
	width: 100%;
    height: 100%;
    background-size: 50px 50px;
}
// 文档原生样式
.wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.pone {
    width: 100%;
	background: #0da147 url(../img/images-ems/img-bg-dot-1.jpg) 0 0 repeat;
    .title {
        top: 3.2rem;
        width: 42.9*.5rem;
        height: 79.4*.5rem;
        @include img-title-1;/* margin-left: 11.0*.5rem; */
    }
    .img-main-1 {
        position: absolute;
        top: 36.5*.5rem;
        left: 50%;
        width: 58.3*.5rem;
        height: 47.1*.5rem;
        @include img-main-1;
        @include transform(translateX(-50%)) ;
    }
}
.ptwo {
    /* height: 113.6*.5rem; */
    background: #ff9d80 url(../img/images-ems/img-bg-dot-2.jpg) 0 0 repeat;
    .title {
        width: 51.9*.5rem;
        height: 28.4*.5rem;
        margin-top: -2.25+5.8*.5rem;
        @include img-title-2;
    }
    // .bg-inturn{width: 63.0*.5rem;height: 21.6*.5rem;position: absolute;left: 1.0*.5rem;top: 55.4*.5rem;}
    .img-main-female {
        position: absolute;
        top: /* 493-45 */33.6*.5+1.6rem;
        left: .5rem;
        width: 100%;
        height: auto;
        @include img-main-2-female;
    }
}
.pthree {
    /* height: 113.6*.5rem; */
    background: #e97c03 url(../img/images-ems/img-bg-dot-3.jpg) 0 0 repeat;
    .title {
        width: 57.9*.5rem;
        height: 32.2*.5rem;
        margin-top: /* 172-45 */-2.25+4.4*.5rem;
        left:0;
        @include transform(translateX(0%)) ;
        @include img-title-3;
    }
    .img-main {
        position: relative;
        top: /* -497+489 */-1*.5rem;
        left: 8.4*.5rem;
        width: 44.3*.5rem;
        height: 47.5*.5rem;
        @include img-main-3;
    }
}
.pfour {
    background: #1553a7 url(../img/images-ems/img-bg-dot-4.jpg) 0 0 repeat;
    .title {
        width: 47.8*.5rem;
        height: 16.4*.5rem;
        margin-top: 3.2*.5rem;
        @include img-title-4;
    }
    .img-main {
        position: absolute;
        // top: 1.2*.5rem;
        right: -.1rem;
        bottom:0;
        margin-bottom: 10.4rem;
        width: 100%;
        height: auto;
        @include img-main-4;
    }
    .ft {
        position: absolute;
        left: 0;
        bottom: 0;
        // background-attachment: fixed;
        z-index: 999;
        width: 100%;
        height:10.5rem;
        background: #fff;
    }
    .rightnow {
        left: 2.4*.5rem;
        background: #1450a2;
        /* margin-right: 2.4*.5rem; */
    }
    .share {
        right: 2.4*.5rem;
        background: #f08003;
    }
    .logo-group {
    	position: relative;
    	top:0;
    	// left: 50%;
    	left:0;
    	display: block;
        width: 56.2*.5rem;
        height: 4.5*.5rem;
        margin-left: 3.9*.5rem;
        margin-top: 12.1*.5rem;
        // @include transform(translateX(-50%));
        @include images;
        @include logo-group ;
    }
}
/*！ ============媒介查询语句========= */ 
@media screen and (max-width:320px) {
    html {font-size: 10px;}
}
@media screen and (min-width:360px)and (max-width:374px) {
    html {font-size: 11.72875px;}
}
@media screen and (min-width:375px)and (max-width:383px) {
    html {font-size: 12px;}
}
@media screen and (min-width:384px)and (max-width:399px) {
    html {font-size: 12.5px;}
}
@media screen and (min-width:400px)and (max-width:413px) {
    html {font-size: 12.9375px;}
}
@media screen and (min-width:414px)and (max-width:423px) {
    html {font-size: 13.5px;}
}
@media screen and (min-width:424px)and (max-width:479px) {
    html {font-size: 15px;}
}
@media screen and (min-width:480px)and (max-width:539px) {
    html {font-size: 16.875px;}
}
@media screen and (min-width:540px)and (max-width:599px) {
    html {font-size: 18.75px;}
}
@media screen and (min-width:600px)and (max-width:639px) {
    html {font-size: 20px;}
}
@media screen and (min-width:640px)and (max-width:719px) {
    html {font-size: 22.5px;}
}
@media screen and (min-width:720px) {
    html {font-size: 25px;}
}
